/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.float-right {
  float: right;
}

.button-primary {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background: gray;
  color: white;
  cursor: pointer;
}

.button-primary:hover {
  background: darkgray;
}

.button-primary:disabled {
  background: darkgray;
  cursor: default;
  opacity: 0.6;
}
