.card-text {
  // margin-top: 70px;
  white-space: normal;
}

.card {
  height: 150px;
  width: 105px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  vertical-align: text-top;
}
