.app-main {
  margin: 15px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.card-hand {
  height: 220px;
  bottom: 0;
  position: absolute;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.card-zoom {
  height: 45%;
  width: 70%;
  display: block;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 280px;
  max-height: 370px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  background: white;
}

.card-zoom-background-black {
  height: 45%;
  width: 70%;
  display: block;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 280px;
  max-height: 370px;
  margin: auto;
  left: -50px;
  right: 0;
  z-index: 1;
}

.card-zoom-background {
  height: 45%;
  width: 70%;
  display: block;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 280px;
  max-height: 370px;
  margin: auto;
  left: 48px;
  right: 0;
  z-index: 1;
}

.card-zoom-background-2 {
  height: 45%;
  width: 70%;
  display: block;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 280px;
  max-height: 370px;
  margin: auto;
  left: 90px;
  right: 0;
  z-index: 0;
}

.card-zoom-background-3 {
  height: 45%;
  width: 70%;
  display: block;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 280px;
  max-height: 370px;
  margin: auto;
  left: 116px;
  right: 0;
  z-index: -1;
}

.card-zoom-text {
  margin-top: 20px;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-zoom-text-alt {
  margin-top: 20px;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-grey {
  color: darkgray;
}

.card-footer {
  bottom: 15px;
  position: absolute;
  left: 20px;
  width: calc(100% - 40px);
}

.card-black {
  background: black;
  color: white;
}

.button-row {
  text-align: center;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.players-waiting {
  position: relative;
  top: 56%;
  width: 100%;
  word-break: break-word;
}

.players-waiting-item {
  margin: 0 5px;
  text-transform: uppercase;
}

.players-waiting-title {
  text-align: center;
  text-decoration: underline;
}

.text-white {
  color: white;
}
